@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    position: relative;
    z-index: 10;
}

.header {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
}

.title {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 19px;
    color: aqua;
    font-weight: bolder;
}

.nav-bar-1 {
    margin-top: 4px;
    margin-left: 5em;
}

.nav-bar-1 ul {
    display: flex;
}

.nav-bar-1 ul li {
    color: white;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
}

.icon-logo {
    margin-right: 5px;
    font-size: 22px;
}

.contents {
    background: url('../i/tour.jpg');
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #fff;
}

.login {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    margin-left: auto;
    margin-right: 15px;
    font-weight: 700;
    font-size: 20px;
    background-color: aqua;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50px;
}

.login a {
    color: #000;
}
