@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 50px;
    background-color:black;
    /* -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(236, 228, 228, 0.75); */
    position: sticky;
    top: 0;
    display: flex;
}
.title {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 19px;
    color: aqua;
    font-weight: bolder;
}
.nav-bar-1 {
    margin-top: 4px;
    margin-left: 5em;
}
.nav-bar-1 ul {
    display: flex;
}
.nav-bar-1 ul li{
    color:white;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
}
.icon-logo{
    margin-right: 5px; 
    font-size: 22px;
}
.login{
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    margin-left: 32em;
    font-weight: 700;
    font-size: 20px;
    background-color: aqua;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50px;
}
.login a{
    color: #000;
}
.pr-logo{
    margin-top: 6px;
    margin-right: 5px; 
    font-size: 22px;
}

.packages-sub-menu {
    margin: 10px;
    display: none;
    border: 1px solid #fff;
    position: absolute;
    left: 290px;
    background: #000;
}
.packages-sub-menu ul li {
    padding: 15px;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}
.packages-sub-menu ul li:hover {
    background: #fff;
    color: #000;
}
.colu{
    width:350px;
    margin-left: 80px;
    margin-top: 40px;
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
}
.colu img{
    width: 350px;
    height: 250px;
}
.interna{
    padding-top: 40px;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
.interna .fas{
    font-size: 15px;
    color:#ff5722
}
.row{
    display: flex;
    flex-wrap: wrap;
}