@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 500;
}
body {
    height: 100vh;
}
.header {
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
}

.title {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 19px;
    color: aqua;
    font-weight: bolder;
}

.nav-bar-1 {
    margin-top: 4px;
    margin-left: 5em;
}

.nav-bar-1 ul {
    display: flex;
}

.nav-bar-1 ul li {
    color: white;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
}

.icon-logo {
    margin-right: 5px;
    font-size: 22px;
}

.login {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    margin-left: auto;
    margin-right: 15px;
    font-weight: 700;
    font-size: 20px;
    background-color: aqua;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50px;
}

.login a {
    color: #000;
}

.pr-logo {
    margin-top: 6px;
    margin-right: 5px;
    font-size: 22px;
}

/* Landing*/

.thumbnail {
    width: 100%;
    height: 250px;
    position: relative;
    filter: blur(2px);
}

.state-title {
    position: absolute;
    color: lightseagreen;
    font-weight: 600;
    font-size: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
}

.bottom {
    text-align: center;
}

.des-t {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
}

.des-2 {
        padding-top: 15px;
}

.des-2 span i{
    color: #ff5722;
    padding: 7px;
}

.sbtn {
    padding: 10px 15px;
    background-color: #ff5722;
    color: #fff;
    border-radius: 25px;
    border: none;
    font-size: 17px;
    word-spacing: 0.5px;
    margin-top: 25px;
    cursor: pointer;
    border: 2px solid transparent;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.sbtn:hover {
    border: 2px solid lightseagreen;
    transition: 0.3s ease all;
}

