@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    position: relative;
    z-index: 10;
}

.header {
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
}

.title {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 19px;
    color: aqua;
    font-weight: bolder;
}

.nav-bar-1 {
    margin-top: 4px;
    margin-left: 5em;
}

.nav-bar-1 ul {
    display: flex;
}

.nav-bar-1 ul li {
    color: white;
    padding: 10px;
    list-style-type: none;
    font-weight: 600;
}

.icon-logo {
    margin-right: 5px;
    font-size: 22px;
}

.contents {
    background: url('../i/tour.jpg');
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #fff;
}

.login {
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    margin-left: auto;
    margin-right: 15px;
    font-weight: 700;
    font-size: 20px;
    background-color: aqua;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 50px;
}

.login a {
    color: #000;
}

.pr-logo {
    margin-top: 6px;
    margin-right: 5px;
    font-size: 22px;
}

.packages-sub-menu {
    margin: 10px;
    display: none;
    border: 1px solid #fff;
    position: absolute;
    left: 290px;
    background: #000;
}

.packages-sub-menu ul li {
    padding: 15px;
    list-style-type: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
}

.packages-sub-menu ul li:hover {
    background: #fff;
    color: #000;
}

.contents h1 {
    padding-top: 200px;
    padding-bottom: 0;
    font-size: 55px;
}

.features {
    padding: 100px 0;
}

h1 {
    text-align: center;
    padding-bottom: 30px;
}

.feature-img img {
    width: 100%;
}

.price {
    width: max-content;
    height: 50px;
    background: #ff5722;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-left: 100px;
    position: absolute;
    left: -80px;
    top: 250px;
    bottom: 0px;
    margin-top: -50px;
}

.feature-img {
    position: relative;
    width: 350px;
    margin-left: 75px;
}

.rating {
    padding: 3px;
    float: right;
    /* background: #fff; */
    top: 200px;
    bottom: 0px;
    right: 0;
    position: absolute;
}

.features .fa {
    font-size: 15px;
    color: #ff5722
}

.features .fas {
    font-size: 15px;
    color: #ff5722
}

.feature-details {
    padding: 20px;
    text-align: justify;
}

.feature-details h4 {
    font-weight: 600;
    margin-top: 10px;
}

.feature-details .des {
    margin-right: 5px;
    padding: 5px;
}

.container {
    margin-left: -70px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.feature-img {
    box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
    margin-bottom: 30px;
}

/* Gallery */
.gallery {
    background: #efefef;
    padding: 80px 0;
}

.g-con-1 {
    width: 260px;
    height: 160px;
    margin-left: 62px;
}

.g-con-1 .gimg {
    position: relative;
}

.g-con-1 .gimg img {
    width: 260px;
    height: 160px;
    border-radius: 8px;
}

.gcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.g-con-1 .gimg:hover img {
    width: 270px;
    height: 170px;
    transition: 0.5s ease all;
}

.ga-container {
    display: flex;
    flex-wrap: wrap;
}

.banner {
    height: 80%;
    background: url('../i/tour.jpg');
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: #fff;
    padding-top: 14%;

}

.banner-highlights {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    color: #fff;
}

.booking-bt {
    width: 120px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    margin-top: 15px;
}

.col-md-3 {
    margin-left: 150px;
}

.users-feedback {
    padding: 100px 0;
}

.cols {
    width: 300px;
    margin-left: 110px;

}

.user-review {
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
}

.user-review p {
    padding: 50px 10px 10px 10px;

}

.users-feedback img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: relative;
    margin: -30px 0 20px 40%;
}

.footer {
    padding: 20px 0 80px 0;
    background-image: linear-gradient(#2d557d, #4e4a51);
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.colu {
    width: 250px;
    margin-left: 70px;
}

.footer h4 {
    text-align: left;
    margin-bottom: 25px;
    padding: 5px;
}

.footer p {
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
    padding: 5px;
    cursor: pointer;
}

.footer .row .fas {
    padding-right: 20px;
    font-size: 15px;
}

.footer .row .fab {
    padding-right: 20px;
    font-size: 15px;
}

.fa-heart {
    margin: 0 5px;
    color: #f44336;
}

.footer .copyri {
    text-align: center;
}

/* Waves  */

.waves {
    position: absolute;
    width: 100%;
    margin: 0;
    left: 0;
    height: 15vh;
    max-height:550px;
    bottom: 0;
}
.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}


@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}